.component {
    &.button {
        background: $color-primary;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 5px;
        transition: 0.2s filter;
        padding: 10px 25px;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        user-select: none;
        &:hover {
            cursor: pointer;
            filter: brightness(130%);
        }
        &.loading {
            color: transparent;
            @include spinner();
        }
    }
}