input {
    border: 1px solid $color-border;
    outline: none !important;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 15px;
    height: 100%;
    box-shadow: 0 0 6px transparent;
    transition: 0.2s all;
    display: block;
    -webkit-appearance: none;
    &:focus {
        border-color: $color-primary !important;
        box-shadow: 0px 0px 6px rgba(255, 101, 89, 0.349);
    }
}
