// Modal styles for signup alert list
.ReactModalPortal {
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .ReactModal__Content {
        min-width: 350px;
        border: none !important;
        @media screen and (max-width: 768px) {
            width: 90%;
            min-width: none;
        }
        .modal__body {
            display: flex;
            flex-direction: column;
            .modal__list {
                display: flex;
                flex-direction: column;
                max-height: 500px;
                overflow-y: auto;
                border-top: 1px solid $color-border;
                border-bottom: 1px solid $color-border;
                padding: 20px 25px;
                // Checkboxes
                .MuiCheckbox-colorSecondary.Mui-checked {
                    color: $color-primary;
                }
            }
            .modal__header, .modal__action {
                position: relative;
                padding: 20px 25px;
                &.modal__header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    h1 {
                        margin-right: auto;
                        margin: 0;
                        font-size: 1.25rem;
                        font-weight: normal;
                    }
                    img {
                        margin-left: auto;
                        width:  16px;
                        height: 16px;
                    }
                }
                &.modal__action {
                    .button {
                        width: 60%;
                        margin: 0 auto;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                height: 80vh;
                max-height: 80vh;
                .modal__list {
                    display: flex;
                    flex: 1;
                    overflow-y: auto;
                    max-height: unset;
                    & > label {
                        min-height: 40px;
                    }
                }
                .modal__action, .modal__header {
                    padding: 25px;
                    h1 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
